@font-face {
	font-family: 'simple-line-icons';
	src:url('fonts/Simple-Line-Icons.eot?-i3a2kk');
	src:url('fonts/Simple-Line-Icons.eot?#iefix-i3a2kk') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.ttf?-i3a2kk') format('truetype'),
		url('fonts/Simple-Line-Icons.woff?-i3a2kk') format('woff'),
		url('fonts/Simple-Line-Icons.svg?-i3a2kk#simple-line-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'et-line';
	src:url('fonts/et-line.eot');
	src:url('fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('fonts/et-line.woff') format('woff'),
		url('fonts/et-line.ttf') format('truetype'),
		url('fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?-i3a2kk');
  src: url('fonts/fontawesome-webfont.eot?#iefix&-i3a2kk') format('embedded-opentype'),
  	   url('fonts/fontawesome-webfont.woff?-i3a2kk') format('woff'),
  	   url('fonts/fontawesome-webfont.woff2?-i3a2kk') format('woff2'), 
  	   url('fonts/fontawesome-webfont.ttf?-i3a2kk') format('truetype'), 
  	   url('fonts/fontawesome-webfont.svg?-i3a2kk#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('fonts/Lato-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('fonts/Oswald-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('fonts/Raleway-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Lora';
  font-style: normal;
  src: url('fonts/Lora-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url('fonts/Ubuntu-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  src: url('fonts/DroidSans.ttf') format('truetype');

}@font-face {
  font-family: 'DroidSerif';
  font-style: normal;
  src: url('fonts/DroidSerif.ttf') format('truetype');

}@font-face {
  font-family: 'Slabo';
  font-style: normal;
  src: url('fonts/Slabo27px-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Anton';
  font-style: normal;
  src: url('fonts/Anton.ttf') format('truetype');

}@font-face {
  font-family: 'Webdings';
  font-style: normal;
  src: url('fonts/Webdings.ttf') format('truetype');

}@font-face {
  font-family: 'Caliban';
  font-style: normal;
  src: url('fonts/Caliban.ttf') format('truetype');

}@font-face {
  font-family: 'Arimo';
  font-style: normal;
  src: url('fonts/Arimo-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'TitilliumWeb';
  font-style: normal;
  src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Anke';
  font-style: normal;
  src: url('fonts/Anke.ttf') format('truetype');

}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  src: url('fonts/NotoSans-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'AllertaStencil';
  font-style: normal;
  src: url('fonts/AllertaStencil-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'ArchitectsDaughter';
  font-style: normal;
  src: url('fonts/ArchitectsDaughter.ttf') format('truetype');

}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  src: url('fonts/Arvo-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Limelight';
  font-style: normal;
  src: url('fonts/Limelight-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Monda';
  font-style: normal;
  src: url('fonts/Monda-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Montez';
  font-style: normal;
  src: url('fonts/Montez-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  src: url('fonts/Orbitron-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'Rancho';
  font-style: normal;
  src: url('fonts/Rancho-Regular.ttf') format('truetype');

}@font-face {
  font-family: 'PT Sans Caption Web';
  font-style: normal;
  src: url('fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');

}@font-face{
  font-family: 'Righteous';
  font-style: normal;
  src: url('fonts/Righteous-Regular.ttf') format('truetype');

}@font-face{
  font-family: 'ShadowsIntoLight';
  font-style: normal;
  src: url('fonts/ShadowsIntoLight.ttf') format('truetype');

}